@model ProductsListViewModel
@{
    ViewData["Title"] = "Home";
}

<div>
@foreach (Product p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}
</div>

<div page-model="@Model.PaginingInfo"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-selected="btn-primary"
     page-class-normal="btn-secondary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group m-1"></div>
