@model Product

@{
    ViewData["Title"] = "Create New Product";
    Layout = "_AdminLayout";
}

<form asp-action="Edit">
    <div class="card">
        <div class="card-header text-center">
            <h2>Create New Product</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-center">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
